<h1>Random Results</h1>

<dl>
  <dt>
  Minimum
  </dt>
  <dd>
  <%= params.fetch("min_number") %>
  </dd>

  <dt>
  Maximum
  </dt>
  <dd>
  <%= params.fetch("max_number") %>
  </dd>

    <dt>
  Random number
  </dt>
  <dd>
  <%= @random %>
  </dd>

<a href="/random/new">Pick another random number</a>
